.Login{
    justify-content: center;
  display: flex;
 background-color: white;
 margin: 25px 50px 75px 100px;

}
.text-white{
    height: 600px;
    color:white;

}

.zeze
{
    justify-content: right;
}

body {
    background-color: white;		;
}

.carrdd{
    background-color: white;
}